@import "./layout/grid";
@import "./layout/vertical-centering";
@import "./layout/sticky-footer";
@import "./layout/masthead";

$constrained-width : 1200px !default;

.single-column {
	margin-right: auto;
	margin-left: auto;
	max-width: 480px;
}

#wallpaper {
	position: absolute;
	top: 0; bottom: 0; width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transition: opacity 0.5s;
}

.l-constrained {
	margin-right: auto;
	margin-left: auto;
	max-width: $constrained-width;
}

.l-max1280 { max-width: 1280px; }
.l-max1024 { max-width: 1024px; }
.l-max768 { max-width: 768px; }
.l-max40em { max-width: 40em; }
