//  inline-block group
//  ---------------------

// usage
// <div class="inline-block-row">
//     <div class="inline-block">
//         block 1
//     </div>
//     <div class="inline-block">
//         block 2
//     </div>
//     ...
// </div>


// default variables
$inline-block-padding 		: 1em !default;

//max-width to prevent long lines
$inline-block-max-width 	: 20em !default;

.inline-block {
	display: inline-block;
	@include rem(margin-bottom, $spacer-half);
    padding-right: $inline-block-padding;
}

@include respond-min($breakpoint-xxs) {

	.inline-block {
	    max-width: $inline-block-max-width;
	}

}
