//  sticky footer
//  ---------------------

$footer-height : 200px;
$footer-bg :  #eee;
$footer-color :  #444;

.page {
	position: relative;
	min-height: 100%;
	margin-bottom: -$footer-height;
}

footer[role="contentinfo"], .footer-push {
	height: $footer-height;
}

footer[role="contentinfo"] {
	position: relative;
	background-color: $footer-bg;
	color: $footer-color;
	padding: 20px;
}