/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.callout {
  *zoom: 1;
}
.callout:before, .callout:after {
  display: table;
  content: "";
}
.callout:after {
  clear: both;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}

.img--fluid {
  max-width: 100%;
}

.help--block {
  display: block;
  margin-bottom: 0.5em;
}

.help--inline {
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.upcase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

.invisible {
  visibility: hidden;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.warning {
  background-color: #edda6b;
}

/* = STATES  */
.is-loading {
  position: relative;
  min-width: 40px;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.is-loading .label-text {
  opacity: 0.5;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.is-loading:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -moz-animation: rotate 0.6s linear infinite;
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  content: '';
  opacity: .5;
}
.is-loading:focus {
  outline: 0px;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #ffb1ff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 15px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #310031;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}
a {
  text-decoration: none;
  color: #177a70;
}
a:visited {
  color: #177a70;
}
a:hover {
  text-decoration: underline;
  color: #1fa597;
}
a:focus {
  outline: thin dotted;
  color: #0f4f49;
}
a:hover, a:active {
  outline: 0;
}
a .chevron--right, a .chevron--left {
  fill: #177a70;
}

.link--padded, .btn--link {
  padding: 12px 0;
  white-space: nowrap;
}
.link--padded:hover, .btn--link:hover {
  text-decoration: none;
}

.link--icon {
  width: 24px;
}

svg .st0 {
  stroke: #c00;
}

.link--add, .link--add:visited {
  color: #a6dc3c;
}

.link--delete, .link--delete:visited {
  color: #d00;
}

::-moz-selection {
  background-color: #d2d2d2;
  color: #310031;
  text-shadow: none;
}

::selection {
  background-color: #d2d2d2;
  color: #310031;
  text-shadow: none;
}

:hover:after, a:hover:before {
  opacity: 1;
}

p {
  margin: 0 0 1.5em;
  max-width: 36em;
  font-size: 1em;
}

blockquote {
  margin: 1em 3em;
  max-width: 36em;
}

small {
  font-size: .85em;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 0;
  font-family: inherit;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2.441em;
  margin: 0.625em 0 0.375em;
  letter-spacing: -0.015em;
}

h2 {
  font-size: 1.563em;
  margin-bottom: 0.5em;
}

.beta {
  font-size: 1.563em;
}

h3, .gamma {
  font-size: 1.25em;
  margin-bottom: 0.375em;
}

h4, .delta {
  font-size: 1em;
}

hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
hr.or:after {
  content: "or";
  display: inline-block;
  position: relative;
  top: -0.75em;
  text-transform: uppercase;
  padding: 0 0.5em;
  background: white;
  color: #777;
}

address {
  display: block;
  margin-bottom: 1em;
  line-height: 1.3;
  font-style: normal;
}

img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

ins {
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@-moz-keyframes bounce {
  from, 15%, 40%, 56%, 65%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  50% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
@-webkit-keyframes bounce {
  from, 15%, 40%, 56%, 65%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
@keyframes bounce {
  from, 15%, 40%, 56%, 65%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  30% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  50% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.bounce {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: "bounce";
  -webkit-animation-name: "bounce";
  animation-name: "bounce";
  -moz-animation-iteration-count: 20;
  -webkit-animation-iteration-count: 20;
  animation-iteration-count: 20;
}

/* Signal waves (expanding circles) */
/* usage:
	<div class="signal"><span></span></div>
*/
.signal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.signal:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 1px solid #249D7F;
  border-radius: 100%;
  -webkit-animation: pulse 3s linear  infinite;
  animation: pulse 3s linear infinite;
}

.signal:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 1px solid #249D7F;
  border-radius: 100%;
  -webkit-animation: pulse 3s linear  infinite;
  animation: pulse 3s linear infinite;
  animation-delay: -1.5s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  width: auto;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.column {
  position: relative;
  float: left;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.small-uncentered {
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.small-centered:last-child {
  float: none;
}

.small-uncentered:last-child {
  float: left;
}

.small-1 {
  width: 8.33333%;
}

.small-2 {
  width: 16.66667%;
}

.small-3 {
  width: 25%;
}

.small-4 {
  width: 33.33333%;
}

.small-5 {
  width: 41.66667%;
}

.small-6 {
  width: 50%;
}

.small-7 {
  width: 58.33333%;
}

.small-8 {
  width: 66.66667%;
}

.small-9 {
  width: 75%;
}

.small-10 {
  width: 83.33333%;
}

.small-11 {
  width: 91.66667%;
}

.small-12 {
  width: 100%;
}

.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.small-uncentered {
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.small-centered:last-child {
  float: none;
}

.small-uncentered:last-child {
  float: left;
}

@media screen and (min-width: 600px) {
  .medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .medium-centered:last-child {
    float: none;
  }

  .medium-uncentered:last-child {
    float: left;
  }

  .medium-1 {
    width: 8.33333%;
  }

  .medium-2 {
    width: 16.66667%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33333%;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33333%;
  }

  .medium-11 {
    width: 91.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  .medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .medium-centered:last-child {
    float: none;
  }

  .medium-uncentered:last-child {
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .large-centered:last-child {
    float: none;
  }

  .large-uncentered:last-child {
    float: left;
  }

  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }
}
.page {
  position: relative;
  min-height: 100%;
  margin-bottom: -200px;
}

footer[role="contentinfo"], .footer-push {
  height: 200px;
}

footer[role="contentinfo"] {
  position: relative;
  background-color: #eee;
  color: #444;
  padding: 20px;
}

.masthead {
  position: relative;
  z-index: 100;
  padding: 1em;
  background-color: #1C152D;
  color: #edf;
  opacity: 0.95;
}
.masthead .logo {
  margin: 0;
  float: left;
  width: 33%;
  max-width: 160px;
}
.masthead .logo a, .masthead .logo a:visited {
  display: block;
}
.masthead .logo a:hover, .masthead .logo a:active, .masthead .logo a:visited:hover, .masthead .logo a:visited:active {
  text-decoration: none;
}

.single-column {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}

#wallpaper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: opacity 0.5s;
}

.l-constrained {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.l-max1280 {
  max-width: 1280px;
}

.l-max1024 {
  max-width: 1024px;
}

.l-max768 {
  max-width: 768px;
}

.l-max40em {
  max-width: 40em;
}

figure {
  padding: 1em;
  margin: 3em 0;
  max-width: 100%;
  overflow: hidden;
}
figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

figcaption {
  padding: 1em;
  text-align: center;
  color: #888;
  max-width: 38em;
  margin: 0 auto;
}
figcaption .title {
  font-size: 1em;
  color: #310031;
}

@media all and (min-width: 768px) {
  figcaption {
    font-size: 0.875em;
  }
}
ul, ol {
  padding: 0;
  margin: 0 0 1.5em 1.5em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.6;
  margin-bottom: .5em;
}

dl {
  margin-bottom: 1.5em;
}

dt, dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--inline li {
  display: inline-block;
}

.checklist {
  list-style: none;
  font-size: 14px;
  margin: 1em 0;
}
.checklist li:before {
  content: "\2713 ";
  font-size: 1.5em;
  color: tomato;
  margin-right: 0.5em;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  .checklist {
    font-size: 18px;
  }
}
nav, .nav--stacked {
  *zoom: 1;
}
nav:before, nav:after, .nav--stacked:before, .nav--stacked:after {
  display: table;
  content: "";
}
nav:after, .nav--stacked:after {
  clear: both;
}
nav > a, .nav--stacked > a {
  text-align: left;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}
nav > a:hover, .nav--stacked > a:hover {
  text-decoration: none;
}
nav > a:active, nav > a:focus, .nav--stacked > a:active, .nav--stacked > a:focus {
  text-decoration: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav--stacked > a {
  display: block;
}

table {
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th, table td {
  padding: 1em;
  border-top: 1px solid #d2d2d2;
  line-height: 1.3;
  vertical-align: top;
  text-align: left;
}
table th {
  font-weight: bold;
  padding-bottom: 0.25em;
}
table thead th {
  vertical-align: bottom;
  text-transform: uppercase;
  font-size: 0.875em;
}
table thead tr:first-child th {
  border-top: 0;
}
table tfoot {
  border-top: 1px solid #d2d2d2;
  font-size: 0.875em;
  color: #999;
}
table tfoot td, table tfoot th {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.table--bordered {
  border: 1px solid #d2d2d2;
  border-left: 0;
  border-collapse: separate;
}
.table--bordered th, .table--bordered td {
  border-left: 1px solid #d2d2d2;
}
.table--bordered tbody:first-child tr:first-child th,
.table--bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.alert {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #dae5e5;
  vertical-align: middle;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
}
.alert .alert:after, .alert .alert:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.alert .alert:after {
  border-bottom-color: #dae5e5;
  border-width: 10px;
  margin-left: -10px;
}

.alert--success {
  background-color: #a6dc3c;
  color: black;
}
.alert--success:after {
  border-bottom-color: #a6dc3c;
}

.alert--warning {
  background-color: #edda6b;
  color: black;
}
.alert--warning:after {
  border-bottom-color: #edda6b;
}

.alert--error {
  background: #d00;
  color: white;
}
.alert--error:after {
  border-bottom-color: #d00;
}

.tag, .badge {
  padding: 0.25em 0.5em;
  display: inline-block;
  font-style: normal;
  font-size: 0.875em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.tag--warning {
  background-color: #edda6b;
}

.tag--error {
  background-color: #d00;
  color: #fff;
}

.badge {
  position: absolute;
  top: -3px;
  right: -3px;
}

form {
  display: block;
  margin-bottom: 1.5em;
}

fieldset {
  padding: 20px 0;
  border: 0;
}

button,
input,
label,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
}

button,
input,
select,
textarea {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,
select,
textarea {
  margin-left: 0;
  padding: 1em;
  background-color: #fafafa;
  color: #1e2023;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.control-group {
  position: relative;
  margin-bottom: 1em;
}

input,
textarea {
  width: 100%;
  border-top-color: #9f9f9f;
}

textarea {
  height: auto;
  line-height: 1.5;
}

select {
  height: 2.25em;
  padding: 0.5em 1.5rem 0.5em 0.5em;
}

label {
  display: block;
  padding: 0.2em 0.5em 0;
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}

.label--centered {
  display: block;
  text-align: center;
}

input[type="checkbox"] {
  width: auto;
  margin: 3px 5px 0 0;
  line-height: normal;
  cursor: pointer;
}

input[disabled="disabled"], input[disabled], select[disabled="disabled"] {
  color: #999;
  background-color: #eee;
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-input-placeholder {
  color: rgba(130, 130, 130, 0.35);
  font-style: italic;
  text-transform: none;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(130, 130, 130, 0.35);
  font-style: italic;
  text-transform: none;
}

:-ms-input-placeholder {
  color: rgba(130, 130, 130, 0.35);
  font-style: italic;
  text-transform: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

select:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #d2d2d2;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox {
  min-height: 18px;
  padding-left: 18px;
}

.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.input--fluid {
  width: 100%;
  max-width: 100%;
}

label.checkbox {
  display: inline-block;
  position: relative;
  padding: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
label.checkbox span {
  display: inline-block;
  line-height: 42px;
  padding: 0 10px;
  padding-left: 30px;
  min-height: 36px;
  line-height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
label.checkbox + label.checkbox {
  margin-left: 1em;
}

.checkbox input[type="checkbox"] {
  float: none;
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1em;
  margin-top: -0.5em;
  margin-left: 0;
  background: transparent;
}
.checkbox input[type="checkbox"]:checked + span {
  color: #3D8231;
}

.input--error, .has-errors input {
  border-bottom-color: #d00;
}

.radio-group-label--error, .checkbox-group-label--error {
  color: #d00;
}

.help--block {
  display: block;
}
button + .help--block {
  margin-top: 0.5em;
}

.help--inline {
  display: inline-block;
  white-space: nowrap;
}

.help--error {
  color: #d00;
}

.label-wrapped-input {
  position: relative;
  padding: 0;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.label-wrapped-input span {
  display: inline-block;
  line-height: 42px;
  padding: 0 10px;
  padding-left: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-height: 42px;
  line-height: 42px;
  background-color: transparent;
}
.label-wrapped-input span:hover {
  background-color: #970097;
}

.label-wrapped-input input[type="radio"],
.label-wrapped-input input[type="checkbox"] {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1em;
  margin-top: -0.5em;
}
.label-wrapped-input input[type="radio"]:checked + span,
.label-wrapped-input input[type="checkbox"]:checked + span {
  background-color: #970097;
  color: #310031;
}

.label-wrapped-input--inline {
  display: inline-block;
}

.label-wrapped-input--inline + .label-wrapped-input--inline {
  margin-left: 10px;
}

.btn, .btn:visited, .btn--inverse, .btn--inverse:visited, .btn--inverse:visited {
  display: inline-block;
  position: relative;
  padding: 0 1.5em 0.15em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #1f665e;
  color: #f2f2f2;
  border: 0;
  outline: 0;
  line-height: 40px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -moz-box-shadow: 0 2px 2px 0 black(0.35);
  -webkit-box-shadow: 0 2px 2px 0 black(0.35);
  box-shadow: 0 2px 2px 0 black(0.35);
}
.btn:hover, .btn:focus, .btn:active, .btn:visited:hover, .btn:visited:focus, .btn:visited:active, .btn--inverse:hover, .btn--inverse:focus, .btn--inverse:active, .btn--inverse:visited:hover, .btn--inverse:visited:focus, .btn--inverse:visited:active {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
.btn:active, .btn:visited:active, .btn--inverse:active, .btn--inverse:visited:active {
  top: 1px;
  margin-bottom: 0;
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
}
.btn + p, .btn:visited + p, .btn--inverse + p, .btn--inverse:visited + p, .btn--inverse:visited + p {
  margin-top: 1em;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--link {
  background: none;
  border: 0;
}

.btn--add, .btn--add:visited {
  background-color: #68b52c;
  color: white;
}
.btn--add:hover, .btn--add:focus, .btn--add:active, .btn--add:visited:hover, .btn--add:visited:focus, .btn--add:visited:active {
  background-color: #a6dc3c;
  border-color: #a6dc3c;
  color: white;
}

.btn--delete, .btn--delete:visited {
  background-color: #d00;
  color: white;
}
.btn--delete:hover, .btn--delete:focus, .btn--delete:active, .btn--delete:visited:hover, .btn--delete:visited:focus, .btn--delete:visited:active {
  background-color: #d00;
  border-color: #d00;
  color: white;
}

.btn--disabled, .btn--disabled:visited {
  opacity: 0.35;
  background-color: #999;
  color: #eee;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.btn--fit {
  width: 100%;
}

.btn--clear {
  background-color: transparent;
  border: solid 1px #fafafa;
  color: #fafafa;
}

.btn--inverse, .btn--inverse:visited {
  background-color: #111;
  color: #fafafa;
}
.btn--inverse:active, .btn--inverse:visited:active {
  background-image: none;
  outline: 0;
  text-decoration: none;
}

.btn--bottom {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms, opacity 400ms;
  transition-delay: 600ms;
  transition-timing-function: ease;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  margin-left: -100px;
}

.btn--complete {
  position: relative;
}
.btn--complete::before {
  display: inline-block;
  height: 30px;
  width: 30px;
  content: url("data:image/svg+xml,%3Csvg%20id%3D%22icon--check%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20d%3D%22M3%2C16%20%20l10%2C10%20%20l20%2C-20%22%20stroke%3D%22%23fff%22%20fill%3D%22none%22%20stroke-width%3D%224%22%20stroke-linejoin%3D%22round%22%20%2F%3E%3C%2Fsvg%3E");
}

/*
// dropdown nav ispired by:
*/
/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-collapse li {
  display: block;
  width: 100%;
}

.js .nav-collapse {
  position: absolute;
  display: block;
  clip: rect(0 0 0 0);
  max-height: 0;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  #main-menu-toggle {
    display: none;
  }

  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
/*
// accessible dropdown nav
*/
/*! requires Adobe's http://adobe-accessibility.github.io/Accessible-Mega-Menu/
// http://terrillthompson.com/tests/menus/accessible-mega-menu/js/jquery-accessibleMegaMenu.js
 */
/* mega menu list */
.nav-menu {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-item > a,
.sub-nav li > a {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  height: 2.6em;
}
.nav-item > a:hover,
.sub-nav li > a:hover {
  text-decoration: none;
}
.nav-item > a:hover, .nav-item > a:focus, .nav-item > a.open,
.sub-nav li > a:hover,
.sub-nav li > a:focus,
.sub-nav li > a.open {
  background-color: #eee;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  height: 2.6em;
  	/* focus/open states of first descendant link within a top level
     navigation item */
}
.nav-item > a:hover {
  text-decoration: none;
}
.nav-item > a.open {
  z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
  position: absolute;
  display: none;
  top: 2.6em;
  background-color: #eee;
}

.nav-item:hover .sub-nav {
  display: block;
}

/* sub-navigation panel open state */
/* list of items within sub-navigation panel */
.sub-nav ul {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  margin: 0 1em 0 0;
  padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
  display: block;
  margin: 0;
  padding: 0;
}

.callout {
  padding: 2em;
  background: #fff;
}

.footnotes {
  margin: 6em 0 3em;
  padding: 1em;
  border-top: solid 1px #d2d2d2;
  list-style: none;
  font-size: 0.75em;
}
.footnotes li {
  margin-bottom: 1em;
}

.card {
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
  background: #fafafa;
  border-top: solid 1px #eee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.card .card-image {
  float: left;
  width: 33%;
  box-shadow: none;
}
.card figcaption {
  padding: 0.5em 1em;
  text-align: left;
  overflow: hidden;
  line-height: 1.2;
}
.card .card-action {
  padding: 1em;
}

.cards {
  clear: left;
  list-style: none;
}

@media all and (min-width: 768px) {
  .cards {
    margin-right: -1em;
    margin-left: -1em;
    overflow: hidden;
  }

  .cards .card {
    float: left;
    width: 30%;
    margin-left: 1em;
    border: solid 1px #eee;
  }
  .cards .card .card-image {
    width: 100%;
  }
  .cards .card figcaption {
    text-align: center;
    height: 5em;
  }
}
@media all and (min-width: 1024px) {
  .cards .card {
    width: 23%;
  }
}
/*
<div class="swatch-card">
    <div class="swatch swatch--textcolor">
        <input type="color" value="#dd0000">
    </div>
    <label for="text-color">Text</label>
</div>
*/
.swatch-card {
  display: inline-block;
  padding: 4px;
  background-color: #fff;
  color: #666;
  text-align: center;
  font: normal 12px/1 sans-serif;
  border: solid 1px rgba(230, 230, 230, 0.9);
}
.swatch-card label {
  color: #555;
}

.swatch {
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  color: rgba(120, 120, 120, 0.6);
  border: solid 1px rgba(120, 120, 120, 0.3);
}

input[type="color"] {
  cursor: pointer;
  opacity: 0;
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
  border: none;
}

.swatch-card + .swatch-card {
  margin-left: 5px;
}

@media only screen and (min-width: 600px) {
  input[type="color"] {
    width: 60px;
    height: 60px;
  }
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #17142b;
  transition: all 0.3s;
  opacity: 0;
}

.mfp-ready.mfp-bg {
  opacity: 0.9;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  position: relative;
  text-align: center;
  width: 90%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-content {
  color: #ddd;
}

.mfp-with-anim {
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  z-index: 1045;
  min-height: 128px;
  transition: all .2s;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.mfp-hide.focusable:active, .mfp-hide.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

.mfp-ready.mfp-bg {
  opacity: 0.9;
}

.mfp-removing.mfp-bg {
  opacity: 0;
}

.first-item .mfp-arrow-left,
.last-item .mfp-arrow-right {
  display: none;
}

.mfp-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  background: transparent;
  border: none;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close {
  color: #222;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 11px;
  line-height: 15px;
}

.mfp-with-anim {
  opacity: 0;
  transition: all .3s;
}

.mfp-ready .mfp-with-anim {
  opacity: 1;
}

.mfp-removing .mfp-with-anim {
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
}
