/*
// accessible dropdown nav
*/
/*! requires Adobe's http://adobe-accessibility.github.io/Accessible-Mega-Menu/
// http://terrillthompson.com/tests/menus/accessible-mega-menu/js/jquery-accessibleMegaMenu.js
 */

/* mega menu list */
.nav-menu {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

// common top and subnav link styles
.nav-item > a,
.sub-nav li > a {
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	height: 2.6em;

	&:hover {
		text-decoration: none;
	}

	&:hover, &:focus, &.open {
		background-color: #eee;
	}
}

/* first descendant link within a top level navigation item */
.nav-item > a {
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	height: 2.6em;

	&:hover {
		text-decoration: none;
	}

	/* focus/open states of first descendant link within a top level
   navigation item */
	&.open {
		z-index: 1;
	}
}

/* sub-navigation panel */
.sub-nav {
	position: absolute;
	display: none;
	top: 2.6em;
	background-color: #eee;
}

.nav-item:hover .sub-nav {
	display: block;
}
/* sub-navigation panel open state */
//.sub-nav.open {
//	display: block;
//}

/* list of items within sub-navigation panel */
.sub-nav ul {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	margin: 0 1em 0 0;
	padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
	display: block;
	margin: 0;
	padding: 0;
}
