//   =Footnotes   ==================================================
.footnotes {
	margin: 6em 0 3em;
	padding: 1em;
	border-top: solid 1px $border-color;
	list-style: none;
	font-size: 0.75em;

	li {
		margin-bottom: 1em;
	}
}
